<div class="jumbotron">
  <h1 class="community">
    We're a community of
    <span class="break hidden-xs"></span>
    I.T. Professionals
  </h1>

  <div class="container">
    <a id="next-event"></a>
    <p class="lead">Our Next Event</p>
    <h1><%= @current_event.title %></h1>
    <h4><%= friendly_date(@current_event) %></h4>
    <div class="event-description"><%= raw @current_event.description %></div>
    <a href="<%= @current_event.url %>" class="btn btn-large btn-danger">
      <i class="fa fa-ticket"></i>
      &nbsp; RSVP to this Event
    </a>
  </div>
</div>

<div class="container about-us">
  <a id="about-us"></a>
  <section>
    <header>
      <h2>About Us</h2>
      <hr />
    </header>
    <div class="multi-column">
      <p>The Saint John Developer User Group is a community of developers, designers, and managers interested in enhancing the professional
      and technical culture of the I.T. sector in the Saint John region.  We typically organize a meet up on the last Thursday of every
      month at the Big Tide Brewing Company to have a drink, socialize, and hear about community events or take in a presentation.</p>
      <p>If you are interesting in presenting a topic, making announcements, or becoming a sponsors, then please contact us. Our goal is
      to gather the best and brightest members of the community in order to learn from each other.</p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <p class="centered">
          <a href="https://twitter.com/SJDevUG" class="btn btn-large btn-twitter">
            <i class="fa fa-twitter"></i>
            &nbsp; Follow us on Twitter
          </a>
        </p>
      </div>
      <div class="col-md-4">
        <p class="centered">
          <a href="https://www.facebook.com/groups/sjdevug" class="btn btn-large btn-facebook">
            <i class="fa fa-facebook"></i>
            &nbsp; Join us on Facebook
          </a>
        </p>
      </div>
      <div class="col-md-4">
        <p class="centered">
          <button class="btn btn-large btn-success" data-toggle="modal" data-target="#subscribe">
            <i class="fa fa-envelope"></i>
            &nbsp; Subscribe to our Mailing List
          </button>
        </p>
      </div>
    </div>
  </section>
</div>

<div class="container upcoming-events">
  <a id="upcoming-events"></a>
  <section>
    <header>
      <h2>Upcoming Events</h2>
      <hr />
    </header>
    <div class="row">
      <% @events.each do |event| %>
        <div class="col-md-<%= column_size %> event">
          <h4><%= event.title %></h4>
          <p class="date"><%= friendly_date(event) %></p>
          <div class="event-description"><%= raw event.description %></div>
          <p class="presenter"><%= event.presented_by %></p>
        </div>
      <% end %>
    </div>
  </section>
</div>

<div class="sponsors">
  <a id="sponsors"></a>
  <section class="container">
    <header>
      <h2>Sponsors</h2>
      <hr />
    </header>
    <p>
      <img src="/assets/sponsors/t4g.jpg"/>
      <img src="/assets/sponsors/enterprisesj.jpg"/>
      <img src="/assets/sponsors/rapidmind.gif"/>
      <img src="/assets/sponsors/swiftradius.png"/>
      <img src="/assets/sponsors/ambir.png"/>
    </p>
  </section>
</div>

<div id="subscribe" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="subscribeTitle" aria-hidden="true" ng-controller="mailingList">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="subscribeTitle">SJ Developer User Group Mailing List</h4>
      </div>
      <div class="modal-body">
        <div ng-show="isNew()">
          <h5>Get notified when new events are announced!</h5>
          <p>Easy to unsubscribe - No spam - We do not share your details with anyone.  Just enter your email below
          and click "Subscribe".</p>
          <form name="mailingListForm" role="form">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Enter email" ng-model="mailingListForm.email" required>
            </div>
          </form>
        </div>
        <div ng-show="hasSubscribed()">
          <h5>Thank you for subscribing! Expect to hear from us soon.</h5>
        </div>
        <div ng-show="hasError()">
          <h5>An error occurred!</h5>
          <p>Sorry, you'll have to <a href="javascript:void(0)" ng-click="reset()">try subscribing again</a> later.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" ng-disabled="mailingListForm.$invalid" ng-click="subscribe()" ng-show="isNew()">Subscribe</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="reset()">Close</button>
      </div>
    </div>
  </div>
</div>
