<div class="jumbotron">
  <h1>We're a community of <br/>I.T. Professionals</h1>

  <div class="container">
    <a id="next-event"></a>
    <p class="lead">Our Next Event</p>
    <h1><%= @current_event.title %></h1>
    <h4><%= @current_event.start_date %></h4>
    <button class="btn btn-large btn-primary">TODO: Eventbrite Registration Button</button>
  </div>
</div>

<div class="container about-us">
  <a id="about-us"></a>
  <section>
    <header>
      <h2>About Us</h2>
      <hr />
    </header>
    <p class="multi-column">
      One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin.
      He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.
      The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked.
      "What's happened to me? " he thought. It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls.
      A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame.
      It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather.
      Drops of rain could be heard hitting the pane, which made him feel quite sad.
      "How about if I sleep a little bit longer and forget all this nonsense", he thought, but that was something he was unable to do because he was used to sleeping on his right, and in his present state couldn't get into that position.
    </p>
    <p class="centered">
      <a href="#" class="btn btn-large btn-success">Follow us on Twitter</a>
      <a href="#" class="btn btn-large btn-success">Join us on Facebook</a>
      <a href="#" class="btn btn-large btn-success">Subscribe to our Mailing List</a>
    </p>
  </section>
</div>

<div class="container upcoming-events">
  <a id="upcoming-events"></a>
  <section>
    <header>
      <h2>Upcoming Events</h2>
      <hr />
    </header>
    <div class="row">
      <div class="col-md-4 event">
        <div><%= @next_event.title %></div>
        <div><%= @next_event.start_date %></div>
      </div>
      <div class="col-md-4 event">
        <div><%= @current_event.title %></div>
        <div><%= @current_event.start_date %></div>
      </div>
      <div class="col-md-4 event">
        <div><%= @previous_event.title %></div>
        <div><%= @previous_event.start_date %></div>
      </div>
    </div>
  </section>
</div>

<div class="sponsors">
  <a id="sponsors"></a>
  <section class="container">
    <header>
      <h2>Sponsors</h2>
      <hr />
    </header>
    <p>
      TODO: Images for all our sponsors...
    </p>
  </section>
</div>
